body{
    background-color: #44ffb5;
}
.right_column{
    position: absolute;
    border: 1px solid #050304;
    /*border-left: px solid #050304;*/
    left: 58%;
    top: 10%;
    float:left;
    width: 200px;
    height: 400px;
    background-color: #ff3dd8;

}
.right_column_kid{
    border: 1px solid red;
    border-radius: 10%;
    height: 100px;
    width: 140px;
    margin-top: 25px;
    margin-left: 30px;
    position: relative;
}
canvas{
    border:1px solid #801715;
    /*border-right:10px solid #85ff41;*/
    /*border-radius: 25%;*/
    top: 10%;
    left: 25%;
    position: absolute;
    background-color: #85ff41;

}